[mysqld]
bind-address = 127.0.0.1
datadir=@MYSQL_DATA_DIR@
port=@MYSQL_PORT@
socket=@MYSQL_SOCKET@

[mysql]
socket=@MYSQL_SOCKET@

[mysqladmin]
socket=@MYSQL_SOCKET@

[mysqld_safe]
bind-address = 127.0.0.1
socket=@MYSQL_SOCKET@

[mysql_secure_installation]
socket=@MYSQL_SOCKET@

[mysqldump]
socket=@MYSQL_SOCKET@
