[mysqld]
bind-address = 127.0.0.1
datadir=
port=
socket=
#log-bin = /var/lib/mysql/mysql-bin
#socket = /var/lib/mysql/mysql.sock
#socket = /var/lib/mysql/mysql2.sock
#socket = /var/run/mysql/mysql.sock
#!includedir /etc/mysql/conf.d/

[mysql]
socket=

[mysqladmin]
socket=

[mysqld_safe]
socket=

[mysql_secure_installation]
socket=
